﻿@page "/"
@namespace jt0dd.xyz.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<link href="css/fontawesome/css/all.css" rel="stylesheet">
<script src="css/fontawesome/js/all.min.js"></script>

<component type="typeof(App)" render-mode="ServerPrerendered" />
