﻿@page "/"

<PageTitle>Home</PageTitle>

@using jt0dd.xyz.Data;
@inject ProjectDataService DataService

<link href="css/fontawesome/css/all.css" rel="stylesheet">

<style>
@@import url('https://fonts.googleapis.com/css2?family=Noto+Serif');
    body {
        margin: 0;
        font-family: 'Noto Serif';
        color: #4d4d4d;
    }
</style>

<h2 style="text-align: center; font-weight: bold; padding-bottom: 0.4%;">Current project: @project.projectName</h2>

<div class="alert alert-secondary center-block" style="width: 70%; height: 80%; left: 14.8%" role="alert">
    @if (project.projectImage)
    {
        <img style="display: flex; justify-content: center; float: center; padding-left: 10%; padding-bottom: 1%;" width="90%" height="100%" src=@project.projectMediaLocation/>
    }
    else
    {    
        <video style="display: flex; justify-content: center; float: center; padding-left: 10%;" controls="controls" width="90%" height="90%">
            <source src=@project.projectMediaLocation>
        </video>
    }
    
    <p>@project.projectDesc</p>

    <div style="display: flex; justify-content: center;">
        <a class="btn btn-primary gitlab_button" style="background-color: transparent;
                                                        background-repeat: no-repeat;
                                                        border: none;
                                                        cursor: pointer;
                                                        overflow: hidden;
                                                        outline: none;
                                                        color:pink;" 
            href=@project.projectLink><i class="fa-brands fa-3x fa-gitlab"></i></a>
    </div>

</div> 

@code {
    public ProjectData? project;
    public int tmp;

    protected override async Task OnInitializedAsync()
    {
        tmp = await DataService.SetProjectData("STM32 Digital Camera", "Video/stm32-digital-camera.gif", @"This project aims to create
                                                                        a OV7670 and ST7735R driver for the STM32 platform to build a simple
                                                                        yet usable digital camera. It makes use of the ST HAL and FreeRTOS for modular 
                                                                        and simple code. I've split the project up into 3 parts, the two drivers as submodules
                                                                        and the base system as another repo. Currently, the LCD driver is being worked on, 
                                                                        most of the features are implemented into the core driver but a graphics wrapper
                                                                        of somekind will need to be built then implemented before the camera driver work 
                                                                        can begin. This project is to show and grow my skills with embedded systems, I hope
                                                                        that in the future I'll be able to work on equally as interesting projects!", true, "https://gitlab.com/stm32-camera/");
        project = await DataService.GetProjectData();
    }
}