﻿@inherits LayoutComponentBase

<PageTitle>Home</PageTitle>

<div class="page">
    <main>
        <div class="top-row">
            <div class="home_button">
                <a class="home_button" style="font-family: sans-serif; font-weight:bolder; padding-top: 1%; font-size: 1.5em; text-decoration: none;" href="/">Joe Todd</a>
            </div>
            <div class="home_button about_button" style="padding-left: 36%;">
                <a class="btn btn-primary button_colour about_button" style="font-family: sans-serif; font-weight: lighter;" href="/about">About</a>
                <a class="btn btn-primary button_colour about_button" style="font-family: sans-serif; font-weight: lighter;" href="/projects">Projects</a>
                <a class="btn btn-primary button_colour about_button" style="font-family: sans-serif; font-weight: lighter;" href="/blog">Blog</a>
            </div>
            <div class="home_button" style="padding-left: 38.4%;">
                <a style="contact_button; font-family: sans-serif; font-weight: lighter;" class="btn btn-primary button_colour contact_button" href="/contact">Contact</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

}